<div class="card bg-light mt-3">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #formAlumno="ngForm" (ngSubmit)="alumno.id ? update() : add(formAlumno.value)">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          name="nombre"
          class="form-control"
          #nombre="ngModel"
          id="nombre"
          [(ngModel)]="alumno.nombre"
          required
          pattern=".{3,}"
        />
        <div
          class="alert alert-danger mt-2"
          [hidden]="nombre.valid || nombre.pristine || nombre.value == ''"
        >
          Nombre con al menos 3 letras
        </div>
      </div>
      <div class="form-group">
        <label for="apellido">Apellidos</label>
        <input
          type="text"
          name="apellido"
          class="form-control"
          #apellidos="ngModel"
          id="apellido"
          [(ngModel)]="alumno.apellido"
          required
        />
        <div
          class="alert alert-danger mt-2"
          [hidden]="apellidos.valid || apellidos.pristine"
        >
          Es necesario el apellido
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          #email="ngModel"
          id="email"
          [(ngModel)]="alumno.email"
          required
          email
        />
        <div
          class="alert alert-danger mt-2"
          [hidden]="email.valid || email.pristine || email.value == 0"
        >
          Email incorrecto
        </div>
      </div>
      <div class="form-group">
        <label for="edad">Edad</label>
        <input
          type="text"
          name="edad"
          class="form-control"
          #edad="ngModel"
          id="edad"
          [(ngModel)]="alumno.edad"
          required
          pattern="[0-9]{0,3}"
        />
        <div class="alert alert-danger mt-2" [hidden]="edad.valid || edad.value == 0">
          Edad incorrecta
        </div>
      </div>
      <div class="form-group d-flex justify-content-between">
        <button class="btn btn-success mt-2" [disabled]="!formAlumno.valid">
          {{alumno.id ? 'ACTUALIZAR' : 'CREAR'}}
        </button>
        <button class="btn btn-secondary mt-2" routerLink="/alumnos">
          VOLVER
        </button>
      </div>
    </form>
  </div>
</div>
